<div class="volcanion-data-table">
  <div class="table-pagination">
    <div class="volcanion-perpage-show" style="margin: 10px 0;">
      <span>Show </span>
      <select (change)="onPageSizeChange($event)">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
      <span> / {{ totalItems }}</span>
    </div>

    <div class="volcanion-pagination-wrapper">
      <button class="volcanion-pagination" [disabled]="currentPage === 1" (click)="goToPage(1)">
        First
      </button>
      <button
        class="volcanion-pagination"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)">
        Prev
      </button>

      <button
        class="volcanion-pagination"
        *ngFor="let page of pages"
        [ngClass]="{'active': currentPage === page}"
        [disabled]="page === '...'"
        (click)="goToPage(page)">
        {{ page }}
      </button>

      <button
        class="volcanion-pagination"
        [disabled]="currentPage === totalPage"
        (click)="goToPage(currentPage + 1)">
        Next
      </button>
      <button class="volcanion-pagination" [disabled]="currentPage === totalPage" (click)="goToPage(totalPage)">
        Last
      </button>
    </div>
  </div>

  <table style="border-collapse: collapse;">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          <div class="volcanion-header">
            <span class="volcanion-column-title" *ngIf="column.searchable" (click)="toggleDropdown(column.key)">{{ column.title }}</span>
            <span class="volcanion-column-title" *ngIf="!column.searchable">{{ column.title }}</span>
            <span *ngIf="column.sortable" style="cursor: pointer;" (click)="column.sortable ? onSort(column.key, sortModel.direction) : null">
              {{column.sortIcon}}
            </span>
            <!-- Dropdown hiển thị input tìm kiếm -->
            <div class="volcanion-dropdown" *ngIf="dropdownOpen === column.key">
              <input
                type="text"
                class="volcanion-search-input"
                placeholder="Search {{ column.title }}"
                [(ngModel)]="columnSearch[column.key]"
                (input)="onColumnSearch(column.key)"
              />
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns">
        <span *ngIf="column.isImage">
          <img [src]="row[column.key]" alt="image"/>
        </span>
        <span *ngIf="!column.isImage">
          {{ row[column.key] }}
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
