.gantt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-section {
  margin-bottom: 20px;
}

.chart-section {
  overflow-x: scroll;
}

rect.plan {
  fill: #dfaa48;
  opacity: 0.8;
}

rect.actual {
  fill: rgb(152, 107, 28);
  opacity: 0.8;
}

.task-popup {
  border: 1px solid black;
}
