<div class="modal fade show" *ngIf="isVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="confirmText"
          type="button"
          class="btn btn-primary"
          (click)="confirm()"
        >
          {{ confirmText }}
        </button>
        <button
          *ngIf="cancelText"
          type="button"
          class="btn btn-secondary"
          (click)="close()"
        >
          {{ cancelText }}
        </button>
      </div>
    </div>
  </div>
</div>
